# Function

- open functions >> print, type input, len, range, id,
- class functions >> list function, dic, set tuple , string,
- user defined functions.

In [3]:
def greeteveryone():
    print("WELCOME")

In [5]:
greeteveryone()

WELCOME

In [7]:
def add():
    a=10
    b=12
    print(a+b)

In [9]:
add()

22

In [11]:
def greet(name):  #parameter
    print("Welcome!",name)

In [ ]:
greet("Shayan") # argument

In [9]:
# parameter less function
# parameterised function
def greeteveryone(name):##parameter
    print(f"Welcome Mr.{name}!")

In [11]:
greeteveryone()

TypeError: greeteveryone() missing 1 required positional argument: 'name'

In [13]:
greeteveryone("Bilal")

Welcome Mr.Bilal!

In [47]:
def add(a=0,b=0,c=0,d=0):# positional argument
    print(a,b,c,d)
    print(a+b+c+d)

In [53]:
add(1,3) #can only pass 2 as well

1 3 0 0
4

In [21]:
def add(a,b):
    print(a+b)

In [23]:
add(3) # error as no pre value given in parameters.

TypeError: add() missing 1 required positional argument: 'b'

In [27]:
# if you are given a value to parameters then it should follow left to right

def add(a,b=5,c):
    print(a+b)
add(4)

SyntaxError: parameter without a default follows parameter with a default (355541444.py, line 1)

In [41]:
def add(a,b,c=8):
    print(a+b+c)
add(4,5)

17

In [43]:
# rember left to right
def add(a=5,b,c=8):
    print(a+b+c)
add(4,5)

SyntaxError: parameter without a default follows parameter with a default (2561110595.py, line 1)

# Keyword Arguments

In [56]:
def generate_profile(name, age, qual, prof, gender):
    profile={'name':name, 'age':age, "qualification":qual, 'profession':prof,
            'gender':gender}
    print(profile)

In [62]:
generate_profile(age='23',prof="Doctor",gender='Female', name="Shabana",
                qual="MBBS")

{'name': 'Shabana', 'age': '23', 'qualification': 'MBBS', 'profession': 'Doctor', 'gender': 'Female'}

In [64]:
generate_profile('bilal', "Matric", 'PythonDev', gender='male',age=23)

TypeError: generate_profile() got multiple values for argument 'age'

In [70]:
generate_profile(23, "Pythondev", 'male',"Matric", 'bilal',  )  # arguments should be arrnaged as parameters

{'name': 23, 'age': 'Pythondev', 'qualification': 'male', 'profession': 'Matric', 'gender': 'bilal'}

# Arbitrary Arguments
- for a lot of arguments /  giving a lot of arguments

In [43]:
def add(a,b=0, *other):
    print(a)
    print(b)
    print(other)
    print(a+b+sum(other)) #other is tuple so taking its sum

In [45]:
add(1)

1
0
()
1

In [47]:
add(1,2,3,4,5,6,7,7)

1
2
(3, 4, 5, 6, 7, 7)
35

In [81]:
def profile_builder(name, age, qualification, income, *other_info):
    profile = {}
    profile['name'] = name
    profile['age'] = age
    profile['qualification'] = qualification
    profile['income'] = income
    profile['other_info'] = other_info

    print(profile)

In [83]:
profile_builder('arish',24,'Graduate', 40000, 'karachi', '5.8"', 'Fair', 'datascientsit')

{'name': 'arish', 'age': 24, 'qualification': 'Graduate', 'income': 40000, 'other_info': ('karachi', '5.8"', 'Fair', 'datascientsit')}

In [99]:
def profile_builder(name, age, qualification, income, **other_info):
    profile = {}
    profile['name'] = name
    profile['age'] = age
    profile['qualification'] = qualification
    profile['income'] = income
    profile['other_info'] = other_info

    print(profile)

In [103]:
profile_builder('arish',24,'Graduate', 40000, city='karachi', height='5.8"', complexion='Fair', profession='datascientsit')

{'name': 'arish', 'age': 24, 'qualification': 'Graduate', 'income': 40000, 'other_info': {'city': 'karachi', 'height': '5.8"', 'complexion': 'Fair', 'profession': 'datascientsit'}}

In [109]:
# taken whoe items as dictionary. **other makes a dictionary (disctionary within dictionary)

# but we just want external dictionary so use update function.

In [93]:
def profile_builder(name, age, qualification, income, **other_info):
    profile = {}
    profile['name'] = name
    profile['age'] = age
    profile['qualification'] = qualification
    profile['income'] = income
    # profile['city'] = other_info['city']
    profile.update(other_info)
    # profile['other'] = other_info

    print(profile)

In [95]:
profile_builder('arish',24,'Graduate', 40000, city='karachi', height='5.8"', complexion='Fair', profession='datascientsit')

{'name': 'arish', 'age': 24, 'qualification': 'Graduate', 'income': 40000, 'city': 'karachi', 'height': '5.8"', 'complexion': 'Fair', 'profession': 'datascientsit'}