# More on Functions !

# printing withing a function is due debugging and our own ease but return need

In [3]:
name = "test"   # globbl
def profile_builder(name, age, qualification, income, **other_info):
    profile = {} # local varaible
    profile['name'] = name
    profile['age'] = age
    profile['qualification'] = qualification
    profile['income'] = income
    # profile['city'] = other_info['city']
    profile.update(other_info)
    return profile

In [5]:
profile_builder('arish',24,'Graduate', 40000, city='karachi', height='5.8"', complexion='Fair', profession='datascientsit')

{'name': 'arish',
 'age': 24,
 'qualification': 'Graduate',
 'income': 40000,
 'city': 'karachi',
 'height': '5.8"',
 'complexion': 'Fair',
 'profession': 'datascientsit'}

In [7]:
print(profile)  # it was a local variable within function scope

NameError: name 'profile' is not defined

In [13]:
def add(a,b):
    print(a+b)

In [17]:
add(10,20) + 10

30

TypeError: unsupported operand type(s) for +: 'NoneType' and 'int'

In [46]:
# function without return gives none.
def add(a,b):
    a+b

In [48]:
print(add(4,5))  # value wasn't returned

None

In [54]:
c=add(3,4)
print(c)

None

In [27]:
def add(a,b):
    return a+b

In [29]:
print(add(2,3))

5

In [35]:
c=add(3,4)

In [37]:
c

7

In [ ]:
def add(a,b):
    return a+b, "Pakistan Zindabad"

In [39]:
add(4,5)

9

## salesman: commmsionCalc
## taxCalc
## Payment

In [41]:
def TaxCalc(income):
    if income>=50000:
        return income*0.10
    elif income>=40000:
        return income*0.05
    elif income>=30000:
        return income*0.03
    else:
        return income*0

In [44]:
def CommisionCalc(units):
    if units >=500:
        return 10000
    elif units>=250:
        return 5000
    elif units>=100:
        return 2000
    else:
        return 1000

In [56]:
def SalaryCalculator(basic, units_sales):
    comision = CommisionCalc(units_sales)
    total = basic+comision
    tax = TaxCalc(total)
    net  = total - tax
    return net

In [58]:
SalaryCalculator(50000, 120)

46800.0

In [66]:
## Sum of List

In [3]:
def sum_list(lst):
    s = 0
    for a in lst:
        s+=a
    return s

In [5]:
sum_list([9,8,7,6,5,4,3,2,1,10])

55

In [ ]:
# max number finder

In [7]:
def max_list(lst):
    max_num = lst[0]
    for n in lst:
        if n > max_num:
            max_num = n
    return max_num

In [9]:
max_list([12,34,34,23,145,65,78,90,34,2])

145

### Question:
With a given integral number n, write a program to generate a dictionary that contains (i, i*i) such that is an integral number between 1 and n (both included). and then the program should print the dictionary.
Suppose the following input is supplied to the program:
8
Then, the output should be:
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [14]:
def square_dic(n):
    sq = {}
    for a in range(1,n+1):
        square = a**2
        sq[a] = square
    return sq

In [16]:
square_dic(10)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

## Question:
Write a program which accepts a sequence of comma separated 4 digit binary numbers 
as its input and then check whether they are divisible by 5 or not. 
The numbers that are divisible by 5 are to be printed in a comma separated sequence.
Example:
0100,0011,1010,1001
Then the output should be:
1010